@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

a:link {
  text-decoration: white;
}
a:visited {
  text-decoration: white;
}
a:hover {
  text-decoration: white;
}
a:active {
  text-decoration: white;
}

body {
  background: #222;
  color: white;
  font-family: "Baskervville", sans-serif;
  font-weight: 300;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  background-color: #252525;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

header .mainLink {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

header .logoImg {
  /* background-color: red; */
  width: 36px;
  height: 36px;
}

header .logoTxt {
  margin-left: 0.75rem;
  /* background-color: red; */
  font-weight: 600;
  text-decoration: none;
}

.categories {
  padding: 0;
  justify-content: center;
  display: flex;
  margin: auto;
  gap: 1.5rem;
  text-decoration: none;
}

.categories .all {
  color: white;
}
.categories .shirt {
  color: white;
}
.categories .other {
  color: white;
}

.shop-cart-button{
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.shop-cart-button:hover,
.shop-cart-button.active{
    color:red;
    transform: scale(1.32);
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

main p,
main h2,
main b {
  margin: 10px 20px;
  color: white;
}

main b {
  color: cadetblue;
}

.add-to-cart {
  display: flex;
  color: #fff;
  cursor: pointer;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 125, 125);
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item div {
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(19, 19, 19);
  border-radius: 10px;
  overflow: hidden;
}

.item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

.item img:hover {
  transform: scale(1.05);
}

.cart-content{
    position: absolute;
    top: 52px;
    right: 0;
    width: 500px;
    background-color: grey;
    min-height: 100px;
    z-index: 10;
}